.country-details {
    display: flex;
    padding: 2em;
    margin: 2em auto;
    gap: 4em;
}

p {
    padding: 0;
    margin: 0;
    margin-right: 15em;
    line-height: 1.8;
}

.detailed-flag {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
}

.bold {
    font-weight: 600;
}

.country-info {
    display: flex;
    height: 170px;
    flex-direction: column;
    flex-wrap: wrap;
}

.back {
    padding: .6em 1.6em;
    margin: 2em;
    width: fit-content;
    box-shadow: 2px 2px 5px var(--clr-input-dark-gray);

}

.link {
    text-decoration: none;
    color: black;
}